<h3>Registro de películas</h3>
<hr/>
<div *ngIf="alertDel" class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Confirmación:</strong> Registro eliminado; actualiza la página.
    <button (click)="xalert()" type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<br>

<table class="table table-dark table-hover">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Sinopsis</th>
        <th scope="col">Año</th>
        <th scope="col">Acción</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let movie of movies">
        <th scope="row">{{movie.id}}</th>
        <td>{{movie.title}}</td>
        <td>{{movie.synopsis}}</td>
        <td>{{movie.year}}</td>
        <th>
            <i class="btn btn-primary btn-sm fa fa-trash" (click)="delMovie(movie.id)"></i>
            &nbsp; 
            <a class="btn btn-primary btn-sm" routerLink="/form/{{movie.id}}"><i class="fa fa-edit"></i></a></th>
    </tr>
    </tbody>
</table>
